<!-- TWIG NO_REBUILD -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Free CSS template by ChocoTemplates.com</title>
	<link rel="stylesheet" href="{{SITE_URL}}/css/style.css" type="text/css" media="all" />
	<script src="js/jquery-1.4.1.min.js" type="text/javascript"></script>
	<script src="js/jquery.jcarousel.pack.js" type="text/javascript"></script>
	<script src="js/jquery-func.js" type="text/javascript"></script>
</head>
<body>
<div id="page" class="shell">
	<!-- Logo + Search + Navigation -->
	<div id="top">
		<div class="cl">&nbsp;</div>
		<h1 id="logo"><a href="{{SITE_URL}}/#">MONDAYS</a></h1>
		<form action="" method="post" id="search">
			<div class="field-holder">
				<input type="text" class="field" value="Search" title="Search" />
			</div>
			<input type="submit" class="button" value="Search" />
			<div class="cl">&nbsp;</div>
		</form>
		<div class="cl">&nbsp;</div>
		<div id="navigation">
			<ul>
			    <li><a href="{{SITE_URL}}/#" class="active"><span>home</span></a></li>
			    <li><a href="{{SITE_URL}}/#"><span>about us</span></a></li>
			    <li><a href="{{SITE_URL}}/#"><span>services</span></a></li>
			    <li><a href="{{SITE_URL}}/#"><span>solutions</span></a></li>
			    <li><a href="{{SITE_URL}}/#"><span>support</span></a></li>
			    <li><a href="{{SITE_URL}}/#"><span>partners</span></a></li>
			    <li><a href="{{SITE_URL}}/#"><span>contact</span></a></li>
			</ul>
		</div>	
	</div>
	<!-- END Logo + Search + Navigation -->
	<!-- Header -->
	<div id="header">
		<!-- Slider -->
		<div id="slider">
			<div id="slider-holder">
				<ul>
				    <li>
				    	<div class="slide-info">
				    		<h2 class="notext txt-we-love-mondays">WE LOVE MONDAYS</h2>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit.</p>
				    		<a href="{{SITE_URL}}/#" class="button-more">More</a>
				    	</div>
				    	<div class="slide-image">
				    		<img src="{{SITE_URL}}/css/images/img1.gif" alt="" />
				    	</div>
				    </li>
				    <li>
				    	<div class="slide-info">
				    		<h2 class="notext txt-we-love-mondays">WE LOVE MONDAYS</h2>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit.</p>
				    		<a href="{{SITE_URL}}/#" class="button-more">More</a>
				    	</div>
				    	<div class="slide-image">
				    		<img src="{{SITE_URL}}/css/images/img1.gif" alt="" />
				    	</div>
				    </li>
				    <li>
				    	<div class="slide-info">
				    		<h2 class="notext txt-we-love-mondays">WE LOVE MONDAYS</h2>
				    		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit.</p>
				    		<a href="{{SITE_URL}}/#" class="button-more">More</a>
				    	</div>
				    	<div class="slide-image">
				    		<img src="{{SITE_URL}}/css/images/img1.gif" alt="" />
				    	</div>
				    </li>
				</ul>
			</div>
			<div class="slider-nav">
				<a href="{{SITE_URL}}/#" class="prev">Previous</a>
				<a href="{{SITE_URL}}/#" class="next">Next</a>
			</div>
		</div>
		<!-- END Slider -->	
	</div>
	<!-- END Header -->
	<!-- Main -->
	<div id="main">
		<!-- Three Column Content -->
		<div class="cols three-cols">
			<div class="cl">&nbsp;</div>
			<div class="col">
				<h2>What is Mondays?</h2>
				<h3 class="notext txt-monday-again">MONDAY AGAIN</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
				<p><a href="{{SITE_URL}}/#" class="more">Learn more</a></p>
			</div>
			<div class="col">
				<h2>Monday Services</h2>
				<h3 class="notext txt-wedothis">WE DO THIS AND THAT....</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. </p>
				<p><a href="{{SITE_URL}}/#" class="more">Learn more</a></p>
			</div>
			<div class="col col-last">
				<h2>Monday Support</h2>
				<h3 class="notext txt-247">24/7 YES REALLY...</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue.</p>
				<p><a href="{{SITE_URL}}/#" class="more">Learn more</a></p>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
		<!-- END Three Column Content -->
		<!-- Two Column Content -->
		<div class="cols two-cols">
			<div class="cl">&nbsp;</div>
			<div class="col">
				<h2>Why Mondays?</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
				<p><a href="{{SITE_URL}}/#" class="more">Learn more</a></p>
			</div>
			<div class="col col-last">
				<h2>This Solution and That Solution...</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis porttitor. Aliquam sed fringilla arcu. Maecenas sit amet cursus augue. Donec felis eros, luctus at blandit ac.</p>
				<p><a href="{{SITE_URL}}/#" class="more">Learn more</a></p>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
		<!-- END Two Column Content -->
	</div>
	<!-- END Main -->
	<!-- Footer -->
	<div id="footer">
		<p class="right">&copy; 2010 - CompanyName &nbsp; Design by <a href="{{SITE_URL}}/http://chocotemplates.com" target="_blank" title="The Sweetest CSS Templates WorldWide">Chocotemplates.com</a></p>
		<p><a href="{{SITE_URL}}/#">Home</a><span>&nbsp;</span><a href="{{SITE_URL}}/#">About Us</a><span>&nbsp;</span><a href="{{SITE_URL}}/#">Services</a><span>&nbsp;</span><a href="{{SITE_URL}}/#">Solutions</a><span>&nbsp;</span><a href="{{SITE_URL}}/#">Support</a><span>&nbsp;</span><a href="{{SITE_URL}}/#">Partners</a><span>&nbsp;</span><a href="{{SITE_URL}}/#">Contact</a></p>
		<div class="cl">&nbsp;</div>
	</div>
	<!-- END Footer -->
	<br />
</div>
</body>
</html>